body {
  margin: 0 auto;
  padding: 0;
  font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 11px;
}

#container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

#intro {
  width: 80%;
  align-self: flex-end;
}

#supportingText {
  position: inherit;
  width: 80%;
  align-self: flex-end;
}

#linkList {
  position: absolute;
  width: 20%;
}

#pageHeader h1 {
  margin-bottom: 0;
  height: 50px;
  padding: 10px;
  border: 1px solid #000;
  background-color: #ddd;
  background-image: url(css_zen_garden.gif);
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 10px;
  background-clip: padding-box;
  overflow: hidden;
  text-indent: -190px;
}

#pageHeader h2 {
  margin: 0;
  padding: 15px;
  border: 1px solid #808080;
  background-image: url(zen_h2_back.gif);
  background-repeat: repeat-x;
  background-color: #489aed;
  z-index: -1;
}

#lresources ul {
  list-style: none;
  background-color: #9cf;
}

#lresources ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #036;
}

#lresources ul li a:hover {
  background-color: #036;
  color: #9cf;
}

#lselect {
  list-style-image: url(blue_bullet.gif);
}

#larchives ul {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

#larchives ul li {
  list-style: none;
  padding: 2px 0;
}

#larchives ul li:nth-child(1) {
  order: 2;
}

#larchives ul li:nth-child(2) {
  order: 1;
}

#larchives ul li:nth-child(3) {
  order: 3;
  position: relative;
  width: 100%;
  left: 180px;
}
